<form class="px-md-2" [formGroup]="registerForm" (ngSubmit)="onSubmit()">  <!--4-->
    <!--8-->
    <app-input [control]="$any(registerForm).controls['name']" label="Name"></app-input>
    <app-input [control]="$any(registerForm).controls['email']" label="Email"></app-input>
    <app-input [control]="$any(registerForm).controls['address']" label="Address"></app-input>
    <app-input [control]="$any(registerForm).controls['phone']" label="Phone"></app-input>

    <button type="submit" class="btn btn-success btn-lg mb-1" [disabled]="registerForm.invalid">Submit</button><br>
  </form>


<br>
  <!-- <div class="alert alert-secondary">
      --debug stuff--.
      <div>Form Content =>  {{ registerForm.value | json }}</div>
      <div>Form Valid => {{ registerForm.valid }}</div> 
      <div>Errors Name Fields => {{ registerForm.get('name')?.errors | json }}</div>
  </div> -->


  <div>
    <button (click)="fetch()" class="btn btn-primary btn-sm">View Registered Candidate</button>
    <table class="table" *ngIf="data">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Address</th>
          <th scope="col">Phone number</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data">
          <td> {{ item.name }}</td>
          <td> {{ item.email }}</td>
          <td> {{ item.address }}</td>
          <td> {{ item.phone }}</td>
        </tr>
      </tbody>
    </table>
  </div>